.table td{
    vertical-align: middle;
}
.my-font{
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.service-details-td {
  text-align: justify !important;
  vertical-align: left !important;
}

/* but inner content becomes left-aligned */
.service-details-content {
  display: inline-block;
  text-align: middle;
  
}

/* number styling */
.service-number {
  color: #007bff;
  font-weight: 600;
  margin-right: 4px;
  
}

/* text styling */
.service-text {
  text-align: justify;
  color: #333;
  font-size: 13px;
  ;
}
.service-image{
   height: 100px;
}
.service-image img{
  height: 100%;
}
